
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="styles/style.css" rel="stylesheet" />

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Simulador de Previdência</a>
    </div>

    
      <ul class="nav navbar-nav">
        <li><a href="#">Adicionar perguntas</a></li>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="show_body">
    <div class="show_questions" >
        <form action = "/calculate" method="POST">
            <div class="question">
                <% questions.forEach( function( model ){ %>
                    <p><%=model.question %></p>
                    <%if  (model.type == "text" ) {%>
                        <% if(typeof(result) !== 'undefined') { %>
                            <input type="text" name="<%= model.input_name %>" required="required" value="<%=result[model.input_name]%>"/>
                        <% }else { %>
                            <input type="text" name="<%= model.input_name %>" required="required"/>
                        <% } %>
                    <% } %>
                    <%if  (model.type == "radio" ) {%>
                        <div class="radio_answers">
                            <% model.options.forEach (function (op){%>
                                <% if (typeof(result) !== 'undefined' && op == result["declaracaoIR"] ) { %>
                                    <input type="radio" name="<%= model.input_name %>" id="<%= op %>" value="<%= op %>" required="required" checked/><label for="<%= op %>"><%= op %></label></br>
                                <% }else{ %>
                                    <input type="radio" name="<%= model.input_name %>" id="<%= op %>" value="<%= op %>" required="required"/><label for="<%= op %>"><%= op %></label></br>
                                <% } %>
                            <% }) %>
                        </div>
                    <% } %>
                <% }); %>
        </div>
        <div class="btn-calcular">
            <input class="div-btn" type="submit" value="Calcular"/>
        </div>
        </form>
    </div>
    <% if(typeof(result) !== 'undefined') {%>
        <div class="show_result">
    <p>O tipo de previdência recomendado para você é:</p>
    <div class="result_div">
        <p><%= result.planoPrevidencia %></p>
    </div>
    </div>
    <% }%>
</div>
<div class="show_footer">
        <p>Footer</p>
</div>

